<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
  </head>

  <body>
    <div class="wrapper">
      <img src="/thanks.jpeg" alt="A grateful image" width="400">
      <section>
        <h1 class="query"> Query from: </h1>
        <p class="query-source">
          <%=mgs.email%>
        </p>
      </section>
      <a class="navigate-to" href="/">BACK TO QUESTION</a>
    </div>
  </body>

</html>
